<div class="container">
  <h3 class="text-center">Contact Us</h3>
  
  <!--form> Normal HTML method
    <label>Name</label>
    <input type="text">
    <br>
  </form>
  <form>
    <label>Email</label>
    <input type="text">
    <br>
  </form>
  <form>
    <label>Comments</label>
    <input type="text">
    <br>
  </form>
  <br>
  <input type="submit"
  
  Rails Method
  -->
  <%= form_for "/contacts" do |f| %>
  
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :comments %>
    <%= f.text_area :comments %>
    
    <%= f.submit 'Submit' %>
  <% end %> 
  
</div>